/* Global Styles */
body {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Sahitya", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #F4E3E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name-and-logo img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.name-and-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-and-logo p{
    font-size: 40px;
    color: #4B6D53;
    margin: -10px;
}

/* Sign-Up Container */
.signup-container {
    background-color: #E9B9B0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #5A8261;
}

.signup-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #5A8261;
}

.form-row input{
    font-family: "Sahitya", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #F4E3E0;
}

.signup-container input[type="text"],
.signup-container input[type="tel"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #5A8261;
    border-radius: 5px;
}

.signup-container button {
    background-color: #5A8261;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 140px;
    margin-top: 20px;
    font-family: "Sahitya", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.signup-container button:hover {
    background-color: #4B6D53;
}

/* Flexbox layout for columns */
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 45%;
    margin-right: 20px;
}

/* Role Selection */
.role-choice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 15px;
}

/* Responsive Styles */
@media (max-width: 568px) {
    body{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    
    .signup-container {
        width: 80%;
        padding: 30px;
    }

    .form-row {
        flex-direction: column;
        margin-right: 20px;
    }

    .form-column {
        width: 100%;
    }

    .signup-container button{
        width: 100%;
    }

    .signup-container h2{
        font-size: 20px;
    }

    label{
        font-size: 16px;
    }

    .name-and-logo img{
        width: 30px;
        height: 30px;
    }

    .name-and-logo p{
        font-size: 25px; 
    }

}

@media (max-width: 480px) {
    .signup-container {
        width: 90%;
        padding: 20px;
    }
}
